<div class="filter-search">
  <input
    type="text"
    placeholder="Personel Ara..."
    [(ngModel)]="searchText"
    (input)="filterPersonnel()"
  />

  <select [(ngModel)]="selectedDepartment" (change)="filterPersonnel()">
    <option value="">Tüm Departmanlar</option>
    <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
  </select>
</div>

<div class="card-container">
  <div class="content-card" *ngFor="let person of filteredPersonnel">
    <div class="personnel-image">
      <img [src]="person.personnelphoto" alt="personnel"/>
    </div>
    <div class="personnel-info">
      <h3 class="personnel-name">{{ person.firstName }} {{ person.lastName }}</h3>
      <p class="personnel-title">{{ person.position }}</p>
    </div>
    <div>
      <button class="btn" (click)="openDetails(person)">Daha Fazla</button>
    </div>
  </div>
</div>

<!-- Ekleme Formu -->
<button class="bton" (click)="toggleAddForm()">Yeni Personel Ekle</button>
<div *ngIf="showAddForm" class="add-person-detail">
  <h2 class="yeni-personel-yazisi   ">Yeni Personel</h2>
  <form (ngSubmit)="addPersonnel()">
    <label> Ad: 
    <input [(ngModel)]="newPersonnel.firstName" name="firstName" required /></label>
    <label> Soyad:
    <input [(ngModel)]="newPersonnel.lastName" name="lastName" required /></label>
    <label> Tc Kimlik Numarası: 
    <input [(ngModel)]="newPersonnel.tckimlik" name="tckimlik" required /></label>
    <label> Doğum Tarihi: 
    <input [(ngModel)]="newPersonnel.dogumtarihi" name="dogumtarihi" type="date" required /></label>
    <label> Telefon Numarası: 
    <input [(ngModel)]="newPersonnel.telno" name="telno" /></label>
    <label> Adres: 
    <input [(ngModel)]="newPersonnel.adres" name="adres" /></label>
    <label> Email: 
    <input [(ngModel)]="newPersonnel.email" name="email" /></label>
    <label> Pozisyon: 
    <input [(ngModel)]="newPersonnel.position" name="position" /></label>
    <label> Bölüm: 
    <input [(ngModel)]="newPersonnel.department" name="department" /></label>
    <label> Başlangıç Tarihi: 
    <input [(ngModel)]="newPersonnel.startDate" name="startDate" type="date"/></label>
    <label> Fotoğraf:<input type="file" (change)="handleFileInput($event)" required/></label>

    <div class="butons">
      <button class="persekle" type="submit">Ekle</button>
      <button class="kutukapat" type="button" (click)="toggleAddForm()">Kapat</button>
    </div>
  </form>
</div>

<!-- Personel Detay Popup -->
<div *ngIf="isCardVisible">
  <div class="modal-backdrop" (click)="closeDetails()" onkeydown=""></div>
  <div class="card-person-detail">
    <h2>👤 Personel Bilgileri</h2>

    <!-- Fotoğraf Üste -->
    <div style="text-align:center; margin-bottom:12px;">
      <img [src]="selectedPersonnel?.personnelphoto"  alt="Personnel"  style="width:120px; height:120px; border-radius:50%; object-fit:cover;" >
    </div>
    <div *ngIf="showAddForm" class="modal-backdrop"></div>
    <div *ngIf="showAddForm" class="add-person-detail">
      </div>


    <!-- Bilgiler -->
    <label>Ad: 
      <input [(ngModel)]="selectedPersonnel!.firstName" [readonly]="!isEditMode" /></label>
    <label>Soyad: 
      <input [(ngModel)]="selectedPersonnel!.lastName" [readonly]="!isEditMode" /></label>
    <label>Pozisyon: 
      <input [(ngModel)]="selectedPersonnel!.position" [readonly]="!isEditMode" /></label>
    <label>Email: 
      <input [(ngModel)]="selectedPersonnel!.email" [readonly]="!isEditMode" /></label>
    <label>TC Kimlik: 
      <input [(ngModel)]="selectedPersonnel!.tckimlik" [readonly]="!isEditMode" /></label>
    <label>Doğum Tarihi: 
      <input [(ngModel)]="selectedPersonnel!.dogumtarihi" [readonly]="!isEditMode" type="date" /></label>
    <label>Telefon: 
      <input [(ngModel)]="selectedPersonnel!.telno" [readonly]="!isEditMode"/></label>
    <label>Adres: 
      <input [(ngModel)]="selectedPersonnel!.adres" [readonly]="!isEditMode" /></label>
    <label>Departman: 
      <input [(ngModel)]="selectedPersonnel!.department" [readonly]="!isEditMode" /></label>

    <!-- Butonlar -->
    <div class="form-buttons">
      <button *ngIf="!isEditMode" type="button" class="edit-btn" (click)="editDetails(selectedPersonnel)">Düzenle</button>
      <button *ngIf="isEditMode" type="button" class="save-btn" (click)="saveDetails()">Kaydet</button>
      <button type="button" class="delete-btn" (click)="deletePersonnel(selectedPersonnel!.id)">Sil</button>
      <button type="button" class="cancel-btn" (click)="closeDetails()">Kapat</button>
    </div>
  </div>
</div>
<p>bunu sil</p>