<div class="filter-bar">
  <input
    type="text"
    placeholder="Personel Ara..."
    [(ngModel)]="searchText"
    (input)="filterPermissions()"
  />

  <select [(ngModel)]="selectedDepartment" (change)="filterPermissions()">
    <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Ad Soyad</th>
      <th>Departman</th>
      <th>Yıllık İzin</th>
      <th>Kullanılan İzin</th>
      <th>Durum</th>
      <th>Düzenle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredPermissions">
    
      <td>{{ p.adSoyad }}</td>
      <td>{{ p.departman }}</td>
      <td>{{ p.yillikIzinHakki ? (p.yillikIzinHakki + ' gün') : 'Yok' }}</td>
      <td>{{ p.kullanilanIzin }}</td>
      <td>{{ p.durum }}</td>
      <td>
        <button (click)="editPermission(p)">Düzenle</button>
      </td>
    </tr>
  </tbody>
</table>
