<div class="filter-bar">
  <input type="text" placeholder="Personel Ara..." [(ngModel)]="searchText" (input)="filterPersonnels()" />
  <select [(ngModel)]="selectedDepartment" (change)="filterPersonnels()">
    <option value="">Tüm Departmanlar</option>
    <option *ngFor="let dept of departments" [value]="dept">{{ dept }}</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Ad Soyad</th>
      <th>Yemek</th>
      <th>Yol</th>
      <th>Diğer</th>
      <th>Toplam Maliyet</th>
      <th>Düzenle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredPersonnel; trackBy: trackById">
      <td>{{ p.firstName + ' ' + p.lastName }}</td>
      <td>{{ p.mealCost | currency:'TRY':'symbol':'1.0-0' }}</td>
      <td>{{ p.transportCost | currency:'TRY':'symbol':'1.0-0' }}</td>
      <td>{{ p.otherCost | currency:'TRY':'symbol':'1.0-0' }}</td>
      <td><b>{{ getTotalCost(p) | currency:'TRY':'symbol':'1.0-0' }}</b></td>
      <td><button (click)="openEditModal(p)">Düzenle</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" style="text-align:right;"><b>Toplam Şirket Maliyeti:</b></td>
      <td colspan="2"><b>{{ getCompanyTotalCost() | currency:'TRY':'symbol':'1.0-0' }}</b></td>
    </tr>
  </tfoot>
</table>

<div class="modal" *ngIf="selectedPersonnel">
  <div class="modal-content">
    <h3>{{ selectedPersonnel.firstName }} {{ selectedPersonnel.lastName }} - Yeni Gider Ekle</h3>
    <!-- <p><b>Departman:</b> {{ selectedPersonnel.departmentName }}</p> -->

    <label>Gider Tarihi:</label>
    <input type="date" [(ngModel)]="selectedPersonnel.expenseDate" />
    <label>Yemek:</label><input type="number" [(ngModel)]="selectedPersonnel.mealCost" />
    <label>Yol:</label><input type="number" [(ngModel)]="selectedPersonnel.transportCost" />
    <label>Diğer:</label><input type="number" [(ngModel)]="selectedPersonnel.otherCost" />
    <label>Gider Fişi:</label>
<input 
  type="file" 
  accept="image/*,application/pdf" 
  multiple 
  (change)="onFileSelected($event)"  />

    <div class="modal-buttons">
      <button (click)="saveEdit()">Kaydet</button>
      <button (click)="closeEditModal()">İptal</button>
      <button (click)="openSelectedHistory()" [disabled]="!selectedPersonnel.id">Geçmiş Hareketleri Göster</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isHistoryModalOpen && selectedHistoryPerson">
  <div class="modal-content">
    <h3>{{ selectedHistoryPerson.firstName }} {{ selectedHistoryPerson.lastName }} - Geçmiş Hareketler</h3>

    <div class="filter-bar" style="justify-content: flex-start; margin-bottom: 15px;">
      <input 
        type="date" 
        [(ngModel)]="historySearchDate" 
        (ngModelChange)="filterHistory()" 
        placeholder="Tarihe Göre Filtrele"
      />
    </div>
    <table *ngIf="filteredExpenseHistory.length > 0; else noHistory">
  <thead>
    <tr>
      <th>Tarih</th>
      <th>Tutar</th>
      <th>Fişler</th> <th>İşlem</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of filteredExpenseHistory; let i = index">
      <td>{{ h.date | date:'dd.MM.yyyy' }}</td>
      <td>
        {{ h.amount | currency:'TRY':'symbol':'1.0-0' }}
      </td>

      <td>
        <div *ngIf="h.receiptUrls && h.receiptUrls.length > 0">
          <a *ngFor="let url of h.receiptUrls; let fileIndex = index" 
             [href]="url" 
             target="_blank" 
             style="margin-right: 5px; text-decoration: underline; cursor: pointer;">
            Fiş {{ fileIndex + 1 }}
          </a>
        </div>
        <span *ngIf="!h.receiptUrls || h.receiptUrls.length === 0">-</span>
      </td>

      <td><button (click)="deleteHistory(i)">Sil</button></td>
    </tr>
  </tbody>
</table>

    <ng-template #noHistory>
      <p>Bu filtreye uygun kayıtlı bir geçmiş bulunmuyor.</p>
    </ng-template>

    <div class="modal-buttons">
      <button (click)="closeHistoryModal()">Kapat</button>
    </div>
  </div>
</div>
